*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.app

/bin/
/pkg/
/vendor/
/*.test
/go.sum

.idea/
.vscode/
*.swp
*.swo
*.swn

go.work
go.work.sum

.env
*.log
.DS_Store
Thumbs.db

/tmp/
node_modules/

docker-compose.override.yml
